.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  background-color: #dadbf1;
  padding: 100px 16px;
}

.label {
  font-size: 5rem;
}

.inputControl {
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
  min-width: 720px;
  
  &:hover, &:focus, &:focus-within {
    border: 1px solid #4C5FD5;
  }

  &:hover .i {
    color: #4C5FD5
  }
}

.input {
  border: 1px solid white;
  font-size: 20px;
  line-height: 2rem;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 0.7;
  }
}

.i {
  font-size: 24px;
  line-height: 2rem;
}

@media (max-width: 750px) {
  .inputControl {
    min-width: 100%;
  }

  .label {
    font-size: 4rem;
  }
}

@media (max-width: 510px) {
  .label {
    font-size: 2.5rem;
  }
}