.main {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.section {
  margin-top: 12rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 6rem;
  max-width: 60%;
}