.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 1.8rem 0;
}

.ul {
  list-style: none;
  display: flex;
  column-gap: 1rem;
}

.a {
  color: #fff;
  text-decoration: none;
}

.abstract, .helpCenter, .submitRequest, .signIn {
  font-size: 24px;
}

.abstract {
  border-right: 2px solid white;
  padding-right: 1rem;
}

.submitRequest {
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
}

.signIn {
  background-color: #4C5FD5;
  border-radius: 6px;
  padding: 0.5rem 2rem;
}