.footerItem {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.ul {
  list-style: none;
}

.title {
  font-size: 24px;
}

.a {
  text-decoration: none;
  color: white;
  line-height: 1.5rem;
}

#contactUs {
  margin-top: 3rem;
  font-weight: bold;
}