.footer {
  background-color: black;
  color: white;
  height: 25rem;
  padding: 0 5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.mainFooter {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.copyRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
}